*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.container{
    display: flex;
    gap: 3px;
    background-color: black;
    height: 100vw;
    width: 100vw;
    color: white;
}

ul li{
    width: 20px;
    list-style: none;
    display: flex;
    gap: 3px;
    filter: invert(1);
    color: black;
    padding-top: 12px;
    font-weight: bold;
}
.library{
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-height: 50vh;
}
.heading{
    display: flex;
    gap: 10px;
}
.library img{
    width: 24px;
}
.logo{
    filter: invert(1);
}
.left{
    width: 25vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.right{
    width: 75vw;
    margin: 20px 0px;

}
.home,.library{
    background-color: #121212;
    border-radius: 7px;
    padding: 10px;
}

.footer{
    display: flex;
    gap: 13px;
    font-size: 12px;
    flex-wrap: wrap;
    width: 100%;
}
.footer a{
    color: grey;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    height: 60px;
    align-items: center;
}
.header > *{
    padding: 20px;
}
.hamburgerContainer{
    display: flex;
    align-items: center;
}
.spotifyPlaylists h1{
    padding: 10px;
}
.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 20px;
}
.cardContainer .card{
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    background-color: #252525;
    position: relative;
}
.card img{
    width: 100%;
    object-fit: contain;
}
.card > *{
    padding-top: 5px;
}
.play {
    width: 40px;
    height: 28px;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 74px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;
}