*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    gap: 3px;
}
.header{
    width: 100vw;
    height: 48px;
    display: flex;
    justify-content: space-around;
    
}
.left{
    border: 2px solid;
    width: 25vw;
}
.right{
    border: 2px solid red;
    width: 75vw;
}